<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Acutions</title>

    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../static/assets/images/favicon2.png">


    <script>
        WebFontConfig = {
            google: {
                families: ['Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700,800', 'Oswald:300,400,500,600,700,800']
            }
        };
        (function(d) {
            var wf = d.createElement('script'),
                s = d.scripts[0];
            wf.src = 'assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="../static/assets/css/demo4.min.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/vendor/fontawesome-free/css/all.min.css">
</head>

<body>
    <div class="page-wrapper"></div>
       
        <!-- End .top-notice -->

        <header class="header">
            

            <div class="header-middle sticky-header" data-sticky-options="{'mobile': true}">
                <div class="container">
                    <div class="header-left col-lg-2 w-auto pl-0">
                        <button class="mobile-menu-toggler text-primary mr-2" type="button">
							<i class="fas fa-bars"></i>
						</button>
                        <a href="index.html" class="logo">
                            <img src="../static/assets/images/logo2.png" width="111" height="44" alt="Porto Logo">
                        </a>
                    </div>
                    <!-- End .header-left -->

                    <div class="header-right w-lg-max">
                        <div class="header-icon header-search header-search-inline header-search-category w-lg-max text-right mt-0">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search-3"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search..." required>
                                    <div class="select-custom">
                                        <select id="cat" name="cat">
											<option value="">All Categories</option>
											<option value="5">Electronics</option>
											<option value="7">Home &amp; Garden</option>
										</select>
                                    </div>
                                    <!-- End .select-custom -->
                                    <button class="btn icon-magnifier p-0" title="search" type="submit"></button>
                                </div>
                                <!-- End .header-search-wrapper -->
                            </form>
                        </div>
                        <!-- End .header-search -->

                      

               

                        <a href="wishlist.html" class="header-icon" title="wishlist"><i class="icon-wishlist-2"></i></a>

                        <div class="dropdown cart-dropdown">
                            <a href="cart.html" title="Cart" class="dropdown-toggle dropdown-arrow cart-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="minicart-icon"></i>
                                <span class="cart-count badge-circle"></span>
                            </a>

                            <div class="cart-overlay"></div>

                            <div class="dropdown-menu mobile-cart">
                                <a href="#" title="Close (Esc)" class="btn-close">×</a>

                                <div class="dropdownmenu-wrapper custom-scrollbar">
                                    <div class="dropdown-cart-header">Shopping Cart</div>
                                    <!-- End .dropdown-cart-header -->

                                    <div class="dropdown-cart-products">
                                        <div class="product">
                                            <div class="product-details">
                                                <h4 class="product-title">
                                                    <a href="#">Ultimate 3D Bluetooth Speaker</a>
                                                </h4>

                                                <span class="cart-product-info">
													<span class="cart-product-qty">1</span> × $99.00
                                                </span>
                                            </div>
                                            <!-- End .product-details -->

                                            <figure class="product-image-container">
                                                <a href="#" class="product-image">
                                                    <img src="../static/assets/images/products/product-1.jpg" alt="product" width="80" height="80">
                                                </a>

                                                <a href="#" class="btn-remove" title="Remove Product"><span>×</span></a>
                                            </figure>
                                        </div>
                                        <!-- End .product -->

                                        <div class="product">
                                            <div class="product-details">
                                                <h4 class="product-title">
                                                    <a href="#">Brown Women Casual HandBag</a>
                                                </h4>

                                                <span class="cart-product-info">
													<span class="cart-product-qty">1</span> × $35.00
                                                </span>
                                            </div>
                                            <!-- End .product-details -->

                                            <figure class="product-image-container">
                                                <a href="#" class="product-image">
                                                    <img src="../static/assets/images/products/product-2.jpg" alt="product" width="80" height="80">
                                                </a>

                                                <a href="#" class="btn-remove" title="Remove Product"><span>×</span></a>
                                            </figure>
                                        </div>
                                        <!-- End .product -->

                                        <div class="product">
                                            <div class="product-details">
                                                <h4 class="product-title">
                                                    <a href="#">Circled Ultimate 3D Speaker</a>
                                                </h4>

                                                <span class="cart-product-info">
													<span class="cart-product-qty">1</span> × $35.00
                                                </span>
                                            </div>
                                            <!-- End .product-details -->

                                            <figure class="product-image-container">
                                                <a href="#" class="product-image">
                                                    <img src="../static/assets/images/products/product-3.jpg" alt="product" width="80" height="80">
                                                </a>
                                                <a href="#" class="btn-remove" title="Remove Product"><span>×</span></a>
                                            </figure>
                                        </div>
                                        <!-- End .product -->
                                    </div>
                                    <!-- End .cart-product -->

                                    <div class="dropdown-cart-total">
                                        <span>SUBTOTAL:</span>

                                        <span class="cart-total-price float-right">$134.00</span>
                                    </div>
                                    <!-- End .dropdown-cart-total -->

                                    <div class="dropdown-cart-action">
                                        <a href="cart.html" class="btn btn-gray btn-block view-cart">View
											Cart</a>
                                        <a href="checkout.html" class="btn btn-dark btn-block">Checkout</a>
                                    </div>
                                    <!-- End .dropdown-cart-total -->
                                </div>
                                <!-- End .dropdownmenu-wrapper -->
                            </div>
                            <!-- End .dropdown-menu -->
                        </div>
                        <!-- End .dropdown -->
                    </div>
                    <!-- End .header-right -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .header-middle -->

            <div class="header-bottom sticky-header d-none d-lg-block" data-sticky-options="{'mobile': false}">
                <div class="container">
                    <nav class="main-nav w-100">
                        <ul class="menu">
                            <li class="active">
                                <a href="index.html">Home</a>
                            </li>
                
                            <li>
                                <a href="watchlist.html">Watchlist</a>
                                
                            </li>
                        
                          
                            <li class="float-right"><a href="index.html" rel="noopener" class="pl-5" target="_blank">Buy Now!</a></li>
                            <li class="float-right"><a href="index.html" class="pl-5">Special Offer!</a></li>
                        </ul>
                    </nav>
                </div>
                
            </div>
          
        </header>
       

        <!-- End .footer -->
    </div>
   <main class="main">
        

            <div class="container">
                <nav aria-label="breadcrumb" class="breadcrumb-nav">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">
                                <i class="icon-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Watchlist</a>
                        </li>
                        
                    </ol>
                </nav>

                <div class="row">
                    <div class="col-lg-9 order-lg-1">
                        <nav class="toolbox sticky-header" data-sticky-options="{'mobile': true}">
                            <div class="toolbox-left">
                               

                                <div class="toolbox-item toolbox-sort">
                                    <label>Sort By:</label>

                                    <div class="select-custom">
                                        <select name="orderby" class="form-control">
                                            <option value="menu_order" selected="selected">Default Auction</option>
											<option value="price">Current Auction</option>
											<option value="price-desc">Past Auction</option>
										</select>
                                    </div>
                                    <!-- End .select-custom -->


                                </div>
                                
                                <div class="toolbox-item toolbox-sort">
                                    <label>Select Auction:</label>

                                    <div class="select-custom">
                                        <select name="orderby" class="form-control">
                                            <option value="menu_order" selected="selected">Select Current Auction:</option>
											<option value="price">Current Auction</option>
											<option value="price-desc">Past Auction</option>
										</select>
                                    </div>
                                    <!-- End .select-custom -->


                                </div>
                                
                                <div class="toolbox-item toolbox-sort">
                                    <label>All Items</label>

                                    <div class="select-custom">
                                        <select name="orderby" class="form-control">
                                            <option value="menu_order" selected="selected">All Items</option>
											<option value="price">Current Auction</option>
											<option value="price-desc">Past Auction</option>
										</select>
                                    </div>
                                    <!-- End .select-custom -->


                                </div>
                                <!-- End .toolbox-item -->
                            </div>
                            <!-- End .toolbox-left -->

                       
                            <!-- End .toolbox-right -->
                        </nav>

                        <div class="row pb-4">
                            <div class="col-sm-12 col-6 product-default left-details product-list mb-2">
                                <figure>
                                    <a href="#">
                                        <img src="../static/assets/images/products/product-1.jpg" width="250" height="250" alt="product" />
                                        <img src="../static/assets/images/products/product-1-2.jpg" width="250" height="250" alt="product" />
                                    </a>
                                </figure>
                                <div class="product-details">
                                    <div class="category-list">
                                        <a href="#" class="product-category">category</a>
                                    </div>
                                    <h3 class="product-title"> <a href="#">Ultimate 3D Bluetooth Speaker</a>
                                    </h3>
                                    <div class="ratings-container">
                                        <div class="product-ratings">
                                            <span class="ratings" style="width:100%"></span>
                                            <!-- End .ratings -->
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <!-- End .product-ratings -->
                                    </div>
                                    <!-- End .product-container -->
                                    <p class="product-description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                        Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                    <div class="price-box">
                                        <span class="product-price">$15.00</span>
                                    </div>
                                    <!-- End .price-box -->
                                   <div>
                                        <a href="cart.html" class="btn-icon btn-add-cart">
                                            <i class="icon-shopping-cart"></i>
                                            <span>ADD TO CART</span>
                                        </a>
                                        <a href="wishlist.html" class="btn-icon-wish" title="wishlist">
                                            <i class="icon-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- End .product-details -->
                            </div>

                            <div class="col-sm-12 col-6 product-default left-details product-list mb-2">
                                <figure>
                                    <a href="#">
                                        <img src="../static/assets/images/products/product-2.jpg" width="250" height="250" alt="product" />
                                        <img src="../static/assets/images/products/product-2-2.jpg" width="250" height="250" alt="product" />
                                    </a>
                                </figure>

                                <div class="product-details">
                                    <div class="category-list">
                                        <a href="#" class="product-category">category</a>
                                    </div>

                                    <h3 class="product-title"> <a href="#">Brown Women Casual HandBag</a>
                                    </h3>

                                    <div class="ratings-container">
                                        <div class="product-ratings">
                                            <span class="ratings" style="width:100%"></span>
                                            <!-- End .ratings -->
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <!-- End .product-ratings -->
                                    </div>
                                    <!-- End .product-container -->

                                    <p class="product-description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                        Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                    <div class="price-box">

                                        <span class="product-price">$15.00</span>
                                    </div>
                                    <!-- End .price-box -->

                                    <div class="product-action">
                                       <a href="cart.html" class="btn-icon btn-add-cart">
                                            <i class="icon-shopping-cart"></i>
                                            <span>ADD TO CART</span>
                                        </a>
                                        <a href="wishlist.html" class="btn-icon-wish" title="wishlist">
                                            <i class="icon-heart"></i>
                                        </a>
                                      
                                    </div>
                                </div>
                                <!-- End .product-details -->
                            </div>

                            <div class="col-sm-12 col-6 product-default left-details product-list mb-2">
                                <figure>
                                    <a href="#">
                                        <img src="../static/assets/images/products/product-3.jpg" width="250" height="250" alt="product" />
                                        <img src="../static/assets/images/products/product-3-2.jpg" width="250" height="250" alt="product" />
                                    </a>
                                </figure>

                                <div class="product-details">
                                    <div class="category-list">
                                        <a href="#" class="product-category">category</a>
                                    </div>

                                    <h3 class="product-title"> <a href="#">Circled Ultimate 3D Speaker</a>
                                    </h3>

                                    <div class="ratings-container">
                                        <div class="product-ratings">
                                            <span class="ratings" style="width:100%"></span>
                                            <!-- End .ratings -->
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <!-- End .product-ratings -->
                                    </div>
                                    <!-- End .product-container -->

                                    <p class="product-description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                        Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

                                    <div class="price-box">
                                        <span class="product-price">$15.00</span>
                                    </div>
                                    <!-- End .price-box -->

                                   <div>
                                        <a href="cart.html" class="btn-icon btn-add-cart">
                                            <i class="icon-shopping-cart"></i>
                                            <span>ADD TO CART</span>
                                        </a>
                                        <a href="wishlist.html" class="btn-icon-wish" title="wishlist">
                                            <i class="icon-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- End .product-details -->
                            </div>

                            <div class="col-sm-12 col-6 product-default left-details product-list mb-2">
                                <figure>
                                    <a href="#">
                                        <img src="../static/assets/images/products/product-4.jpg" width="250" height="250" alt="product" />
                                        <img src="../static/assets/images/products/product-4-2.jpg" width="250" height="250" alt="product">
                                    </a>
                                </figure>

                                <div class="product-details">
                                    <div class="category-list">
                                        <a href="#" class="product-category">category</a>
                                    </div>

                                    <h3 class="product-title"> <a href="#">Blue Backpack for the Young -
											S</a> </h3>

                                    <div class="ratings-container">
                                        <div class="product-ratings">
                                            <span class="ratings" style="width:100%"></span>
                                            <!-- End .ratings -->
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <!-- End .product-ratings -->
                                    </div>
                                    <!-- End .product-container -->

                                    <p class="product-description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                        Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                                    </p>

                                    <div class="price-box">
                                        <span class="product-price">$15.00</span>
                                    </div>
                                    <!-- End .price-box -->

                                    <div class="product-action">
                                       <a href="cart.html" class="btn-icon btn-add-cart">
                                            <i class="icon-shopping-cart"></i>
                                            <span>ADD TO CART</span>
                                        </a>
                                        <a href="wishlist.html" class="btn-icon-wish" title="wishlist">
                                            <i class="icon-heart"></i>
                                        </a>
                                      
                                    </div>
                                </div>
                                <!-- End .product-details -->
                            </div>

                            <div class="col-sm-12 col-6 product-default left-details product-list mb-2">
                                <figure>
                                    <a href="#">
                                        <img src="../static/assets/images/products/product-5.jpg" width="250" height="250" alt="product" />
                                        <img src="../static/assets/images/products/product-5-2.jpg" width="250" height="250" alt="product" />
                                    </a>
                                </figure>

                                <div class="product-details">
                                    <div class="category-list">
                                        <a href="#" class="product-category">category</a>
                                    </div>

                                    <h3 class="product-title"> <a href="#">Casual Spring Blue Shoes</a> </h3>

                                    <div class="ratings-container">
                                        <div class="product-ratings">
                                            <span class="ratings" style="width:100%"></span>
                                            <!-- End .ratings -->
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <!-- End .product-ratings -->
                                    </div>
                                    <!-- End .product-container -->

                                    <p class="product-description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                        Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                                    </p>

                                    <div class="price-box">
                                        <span class="product-price">$15.00</span>
                                    </div>
                                    <!-- End .price-box -->

                                   <div>
                                        <a href="cart.html" class="btn-icon btn-add-cart">
                                            <i class="icon-shopping-cart"></i>
                                            <span>ADD TO CART</span>
                                        </a>
                                        <a href="wishlist.html" class="btn-icon-wish" title="wishlist">
                                            <i class="icon-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- End .product-details -->
                            </div>

                            <div class="col-sm-12 col-6 product-default left-details product-list mb-2">
                                <figure>
                                    <a href="#">
                                        <img src="../static/assets/images/products/product-6.jpg" width="250" height="250" alt="product">
                                        <img src="../static/assets/images/products/product-6-2.jpg" width="250" height="250" alt="product" />
                                    </a>
                                </figure>

                                <div class="product-details">
                                    <div class="category-list">
                                        <a href="#" class="product-category">category</a>
                                    </div>

                                    <h3 class="product-title"> <a href="#">Men Black Gentle Belt</a> </h3>

                                    <div class="ratings-container">
                                        <div class="product-ratings">
                                            <span class="ratings" style="width:100%"></span>
                                            <!-- End .ratings -->
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <!-- End .product-ratings -->
                                    </div>
                                    <!-- End .product-container -->

                                    <p class="product-description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                        Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                                    </p>

                                    <div class="price-box">
                                        <span class="product-price">$15.00</span>
                                    </div>
                                    <!-- End .price-box -->

                                    <div class="product-action">
                                       <a href="cart.html" class="btn-icon btn-add-cart">
                                            <i class="icon-shopping-cart"></i>
                                            <span>ADD TO CART</span>
                                        </a>
                                        <a href="wishlist.html" class="btn-icon-wish" title="wishlist">
                                            <i class="icon-heart"></i>
                                        </a>
                                      
                                    </div>
                                </div>
                                <!-- End .product-details -->
                            </div>
                        </div>

                        <nav class="toolbox toolbox-pagination">
                            
                            <!-- End .toolbox-item -->

                            <ul class="pagination toolbox-item">
                                <li class="page-item disabled">
                                    <a class="page-link page-link-btn" href="#">
                                        <i class="icon-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1
										<span class="sr-only">(current)</span>
									</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <span class="page-link">...</span>
                                </li>
                                <li class="page-item">
                                    <a class="page-link page-link-btn" href="#">
                                        <i class="icon-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- End .col-lg-9 -->

                    <div class="sidebar-overlay"></div>
                    <aside class="sidebar-shop col-lg-3 order-lg-first mobile-sidebar">
                        <div class="sidebar-wrapper">
                            <div class="widget">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-body-2" role="button" aria-expanded="true" aria-controls="widget-body-2">Categories</a>
                                </h3>

                                <div class="collapse show" id="widget-body-2">
                                    <div class="widget-body">
                                        <ul class="cat-list">
                                            <li>
                                                <a href="#widget-category-1" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="widget-category-1">
													Accessories
													<span class="products-count">1</span>
													<span class="toggle"></span>
												</a>
                                                <div class="collapse show" id="widget-category-1">
                                                    <ul class="cat-sublist">
                                                       
                                                        <li>Watches
                                                            <span class="products-count">(2)</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#widget-category-2" class="collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="widget-category-2">
													Dress
													<span class="products-count">1</span>
													<span class="toggle"></span>
												</a>
                                                <div class="collapse" id="widget-category-2">
                                                    <ul class="cat-sublist">
                                                        <li>Clothing
                                                            <span class="products-count"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                          
                                           
                                        </ul>
                                    </div>
                                    <!-- End .widget-body -->
                                </div>
                                <!-- End .collapse -->
                            </div>
                            <!-- End .widget -->

                         
                            <!-- End .widget -->

                           
                            <!-- End .widget -->
                        </div>
                        <!-- End .sidebar-wrapper -->
                    </aside>
                    <!-- End .col-lg-3 -->
                </div>
                <!-- End .row -->
            </div>
            <!-- End .container -->

            <div class="mb-4"></div>
            <!-- margin -->
        </main>

        <footer class="footer bg-dark">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title">Contact Info</h4>
                                <ul class="contact-info">
                                    <li>
                                        <span class="contact-info-label">Address:</span>123 Street Name, City, England
                                    </li>
                                    <li>
                                        <span class="contact-info-label">Phone:</span><a href="tel:">(123)
											456-7890</a>
                                    </li>
                                    <li>
                                        <span class="contact-info-label">Email:</span> <a href="https://portotheme.com/cdn-cgi/l/email-protection#167b777f7a56736e777b667a733875797b"><span class="__cf_email__" data-cfemail="3b565a52577b5e435a564b575e15585456">[email&#160;protected]</span></a>
                                    </li>
                                    <li>
                                        <span class="contact-info-label">Working Days/Hours:</span> Mon - Sun / 9:00 AM - 8:00 PM
                                    </li>
                                </ul>
                            
                                <!-- End .social-icons -->
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-lg-3 -->

                   
                        <!-- End .col-lg-3 -->

                        
                        <!-- End .col-lg-3 -->

                        <div class="col-lg-6 col-sm-6">
                            <div class="widget widget-newsletter">
                                <h4 class="widget-title">Subscribe newsletter</h4>
                                <p>Get all the latest information on events, sales and offers. Sign up for newsletter:
                                </p>
                                <form action="#" class="mb-0">
                                    <input type="email" class="form-control m-b-3" placeholder="Email address" required>

                                    <input type="submit" class="btn btn-primary shadow-none" value="Subscribe">
                                </form>
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-lg-3 -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .footer-middle -->

            <div class="container">
                <div class="footer-bottom">
                    <div class="container d-sm-flex align-items-center">
                        <div class="footer-left">
                            <span class="footer-copyright">©Techionik</span>
                        </div>

                    </div>
                </div>
                <!-- End .footer-bottom -->
            </div>
            <!-- End .container -->
        </footer>
        <div class="mobile-menu-overlay"></div>
    <!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="fa fa-times"></i></span>
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li><a href="index.html">Home</a></li>
                   
                    
                    <li>
                        <a href="watchlist.html">Watchlist</a>
                        
                    </li>
                    
                </ul>


                <ul class="mobile-menu">
                  
                
                  
                </ul>
            </nav>
           
        </div>
        <!-- End .mobile-menu-wrapper -->
    </div>
    



    <a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

    <!-- Plugins JS File -->
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/js/optional/isotope.pkgd.min.js"></script>
    <script src="../static/assets/js/plugins.min.js"></script>
    <script src="../static/assets/js/jquery.appear.min.js"></script>

    <!-- Main JS File -->
    <script src="../static/assets/js/main.min.js"></script>
</body>



</html>